*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

.container-base{
    max-width: 1000px;
    margin: auto;
    background-color: whitesmoke; 
}

.container{
     max-width: 900px; 
    margin: auto;
    padding: 20px;
    margin-bottom: 10px;
    /* background-color: yellow; */
}

.bg{
    max-width: 1000px;
    background-image: url('../imagens/background001.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.bg2{
    max-width: 1000%;
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    background-color: blanchedalmond;
}

header,footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

header h1{
    font-size: 3em;
}

header p{
    margin: auto;
}

a{
    text-decoration: none;
    color: rgb(153, 149, 149);
}

a:hover{
    color: rgba(243, 243, 113, 0.705);
    text-decoration: underline;
}


 p{
    width: 700px;
    font-family: var(--fonte2);
    font-size: 1.5em;
    line-height: 35px;
    text-indent: 30px;
}

.bg p{
    max-width: 400px;
    text-align: left;
    padding-left: 30px;
    color: white;
}

.bg2 p{
    max-width: 400px;
    text-align: left;
    padding-left: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 10px;
    padding: 20px;
}

footer p{
    font-size: 1em;
    font-family: var(--fonte1);
    margin: auto;
}
